//! **************************************************************************
// Written by: Map J.36 on Sat Dec 28 13:20:19 2013
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
